@model eRevenue.Models.ViewModels.CenterVM

<form method="post" asp-controller="Center" asp-action="Delete">
    <input asp-for="Center.CenterId" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Delete Center</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Center.CenterNameAmh"></label>
                    </div>
                    <div class="col-6">
                        <label asp-for="Center.OrganizationLevel"></label>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="Center.CenterNameAmh" disabled class="form-control" />
                    </div>
                    <div class="col-6">
                        <select asp-for="Center.OrganizationLevelId" asp-items="@Model.TypeDropDownOrginizationLevel" disabled class="form-control">
                            <option selected>--Select Organization Level --</option>
                        </select>

                        <span asp-validation-for="Center.OrganizationLevelId" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-danger w-75" value="Delete" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}