@model IEnumerable<eRevenue.Models.OrganizationLevel>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Organizational Levels</h2>
        </div>
        <div class="col-6 text-right">  
            <a asp-controller="OrganizationLevel" asp-action="Create" class="btn btn-primary">Create Organization</a>
        </div>
    </div>
    <br />  
    @if (Model.Count() > 0)
    {
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Organization Name
            </th>
            <th>
                Changes
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var OrganizationLevel in Model)
        {
            <tr>
                <td width="60%">@OrganizationLevel.OrganizationLevelNameAmh</td>
                <td width="40%">
                    <div class="w-100 btn-group" role="group">
                        <a asp-controller="OrganizationLevel" asp-action="Update" asp-route-Id="@OrganizationLevel.OrganizationLevelId" class="btn btn-primary mx-1">Update</a>
                        <a asp-controller="OrganizationLevel" asp-action="Delete" asp-route-Id="@OrganizationLevel.OrganizationLevelId" class="btn btn-danger mx-1">Delete</a>

                    </div>
                    </td>
                </tr>
            }
            </tbody>
    </table>
    }
    else
    {
        <p>No items created yet</p>
    }

</div>
